:root {
    --main-theme: #525CEB;
    --secundary-theme: #2b2330;
    --dark-color-theme: #3D3B40;
    --light-color-theme: #e2e9f4;
    --lighter-color-theme: #ecf0f6;
}

* {
    font-family: arial;
    box-sizing: border-box;
}

body {
    margin: 0;
    border: none;
    padding: 0;
    line-height: 1.5;
    background-color: var(--dark-color-theme);

    min-height: 100vh;
}

header.header {
    text-align: center;
    background-color: var(--main-theme);
    color: var(--light-color-theme)
}

h1.header {
    padding: 10px;
    margin: 0;
}

nav.navbar {
    background-color: var(--secundary-theme);
}

button.navbar {
    padding: 5px 15px;
    border: none;
    margin: 0;
    background-color: transparent;
    color: var(--light-color-theme);
    text-align: center;
    font-size: 16px;
}

button.navbar:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

td.navbar,
tr.navbar,
table.navbar {
    margin: 0;
    padding: 0;
    border: none;
}

td.navbar {
    border-left: 2px solid var(--light-color-theme);
}


td.navbar:first-child {
    border-left: none;
}

table.navbar {
    border-collapse: separate;
}

main {
    position: relative;
    margin: 0 10vw;
    padding: 0 50px;
    background-color: var(--light-color-theme);
    overflow: auto;
}

section.hero {
    display: block;
    width: 100%;
    height: calc(100vh - 240px);
    background-image: url(/images/zoo.jpg);
    margin: 70px 0px;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
}

h1.hero {
    -webkit-text-stroke: 2px var(--dark-color-theme);
    /* text-shadow:
        -2px 0px 0px var(--dark-color-theme),
        2px 0px 0px var(--dark-color-theme),
        0px -2px 0px var(--dark-color-theme),
        0px 2px 0px var(--dark-color-theme); */
    padding-top: 15vh;
    color: var(--lighter-color-theme);
    font-size: 70px;
}

/* species start  */

section.species {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 20px solid var(--dark-color-theme);
}

h1.species {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

table.species {
    width: calc(100% + 40px);
    /* width: 100%; */
    border-collapse: separate;
    border-spacing: 20px;
    margin: -20px;
}

td.species,
tr.species {
    padding: 0;
    margin: 0;
}

img.species {
    width: 15vw;
    padding: 0 15px;
}

h2.species {
    text-align: center;
}

p.amimals {
    border: 0 10px;
}

td.species {
    background-color: var(--lighter-color-theme);
    width: 15vw;
    text-align: center;
    border-radius: 10px;
}

/* To Do start */

section.to-do {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 20px solid var(--dark-color-theme);
}

h1.to-do {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

table.to-do {
    width: calc(100% + 40px);
    /* width: 100%; */
    border-collapse: separate;
    border-spacing: 20px;
    margin: -20px;
}

td.to-do,
tr.to-do,
th.to-do {
    padding: 0;
    margin: 0;
}

p.to-do {
    border: 0 10px;
}

td.to-do,
th.to-do {
    background-color: var(--lighter-color-theme);
    width: 15vw;
    text-align: center;
    border-radius: 10px;
}

/* animlas start  */
section.animals {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 20px solid var(--dark-color-theme);
}

h1.animals {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

table.animals {
    width: 100%;
    background-color: var(--lighter-color-theme);
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 2px solid var(--dark-color-theme);
}

/* Apply a border to the right of all but the last column */
table.animals th:not(:last-child),
table.animals td:not(:last-child) {
    border-right: 2px solid var(--dark-color-theme);
}

/* Apply a border to the bottom of all but the last row */
table.animals>thead>tr:not(:last-child)>th,
table.animals>thead>tr:not(:last-child)>td,
table.animals>tbody>tr:not(:last-child)>th,
table.animals>tbody>tr:not(:last-child)>td,
table.animals>tfoot>tr:not(:last-child)>th,
table.animals>tfoot>tr:not(:last-child)>td,
table.animals>tr:not(:last-child)>td,
table.animals>tr:not(:last-child)>th,
table.animals>thead:not(:last-child),
table.animals>tbody:not(:last-child),
table.animals>tfoot:not(:last-child) {
    border-bottom: 2px solid var(--dark-color-theme);
}

td.animals {
    text-align: center;
}

img.animals {
    width: 70px;
}

p.animals,
a.animals {
    font-size: 20px;
}

/* mail-form start  */

label.mail-form,
input.mail-form {
    display: block;
}

footer {
    margin: 0;
    width: 100vw;
    background-color: var(--secundary-theme);
    color: var(--light-color-theme);
}